@charset "utf-8";

.section-tittle{
    margin-bottom: 10px;
    margin-left: 20px;
}

.content{
    margin-top: 0;
    height: auto;
    margin-bottom: 30px;
    transition: 0.1s ease;
    background-color: rgb(230,230,230);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0px rgba(0, 0, 0, 0.19);
}

.content:hover{
    background-color: rgb(230,230,230);
    cursor: pointer;
}

.article-first{
    float: left;
    width: 23.7%;
    min-height: 340px;
    margin-left: 10px;
    padding-top: 15px;
}

aside{
    box-sizing: border-box;
    margin-bottom: 30px;
    transition: 0.1s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: right;
    width: 25%;
    height: 400px;
    padding: 20px;
    border-top: 2px solid #22B473;
    background-color: rgb(230,230,230);
}

.image-container{
    height: auto;
    width: 98%;
    background-color: transparent;
    margin: 5px auto auto auto;
}

section img{
    max-width: 100%;
    max-height: 100%;
}

.image-text{
    color: gray;
    font-size: 80%;
    text-align: center;
}


.section-tittle-box{
    box-sizing: border-box;
    clear: both;
    padding: 25px 15px;
}

.profile-section-tittle{
    display: inline-block;
    color:#1d1d1d;
}

.profile-section-tittle:hover{
    cursor: pointer;
    color: rgb(28, 145, 38);
}

.about-section{
    float: left;
    width: 70%;
    min-height: 220px;
    height: 400px;
    padding: 30px;
    background-color: rgba(230,230,230,1);
    font-size: 120%;
    box-shadow: 0px 6px 37px -11px rgba(0,0,0,0.83);
}

@media only screen and (max-width: 1400px) {
    aside{
        height: 350px;
    }
    .about-section{
        height: 350px;
        font-size: 110%;
    }
}

@media only screen and (max-width: 1200px) {
    aside{
        height: 300px;
    }
    .about-section{
        height: 300px;
        font-size: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    aside{
        height: 250px;
        clear: both;
        width: 100%;
    }
    .about-section{
        width: 100%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 800px) {
    aside{
        height: 250px;
        clear: both;
        width: 100%;
    }
}