/* CSS Document */

.profile-container{
	box-sizing: border-box;
	height: auto;
	min-height: 500px;
	width: 70%;
	background-color: whitesmoke;
	margin: 20px auto;
	padding-top: 20px;
	border-radius: 5px;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.profile-header{
	height: 100px;
	widows: 50px;
	background-color: transparent;
	margin:20px auto;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19);
	/*add some shadow to the header*/
	
}